Source: richo-environment
Section: utils
Priority: optional
Maintainer: Rich Healey <richo@psych0tik.net>

Package: richo-environment
Architecture: all
Depends: richo-system, tmux, zsh, git, subversion
Description: Metapackage with dependencies for richo's cli environment
 This package pulls in all of the dependencies for richo's terminal
 environment. It does not pull in the environment itself.

Package: richo-multimedia
Architecture: all
Depends: richo-environment, mpc, alsa-utils, mpd, vimpc, aumix, vim-nox, vlc
Description: Metapackage with dependencies for richo's multimedia environment
 All the packages required to support richo's media environment, including
 media keys music playing and movies.

Package: richo-x11
Architecture: all
Depends: richo-environment, openbox, xserver-xorg, rxvt-unicode-256color, gmrun, trayer, xinit, xclip, gtk2-engines-murrine, gtk2-engines-pixbuf, xpdf, vim-gtk, feh, scrot, xcompmgr
Description: Metapackage with dependencies for richo's x11 environment
 This package depends upon everything required by richo's x11 environment.

Package: richo-dev
Architecture: all
Depends: richo-environment, exuberant-ctags, debhelper, dupload, git-svn
Description: Metapackage with richo's development tools
 This package installs the tools needed to develop inside richo's environment.
 Note that it doesn't include project specific tools such as compilers and
 libraries, it merely pulls in the tools used to write the software.

Package: richo-apps
Architecture: all
Depends: richo-environment, mutt, irssi, links, nmap, lynx
Description: Metapackage with misc day-to-day applications richo uses.
 This package depends upon the tools and applications richo uses day to day in
 an effort to make sure they're already there when I need them.

Package: richo-system
Architecture: all
Depends: openssh-server, bzip2, wget, curl, unzip, iotop, rsync, htop
Description: Metapackage with system utilities.
 This package is the most general out of the set, depending upon more or less
 essential system utilities that are not present in a base install of Debian
 GNU/Linux.

Package: richo-rvm
Architecture: all
Depends: richo-environment, build-essential, openssl, libreadline6, libreadline6-dev, curl, git-core, zlib1g, zlib1g-dev, libssl-dev, libyaml-dev, libsqlite3-0, libsqlite3-dev, sqlite3, libxml2-dev, libxslt-dev, autoconf, libc6-dev, ncurses-dev, automake, libtool, bison
Description: Metapackage with dependencies for RVM
 Installs all dependencies required for building MRI with rvm (https://github.com/wayneeseguin/rvm)
 RVM itself installs with
 bash < <(curl -s https://raw.github.com/wayneeseguin/rvm/master/binscripts/rvm-installer)

Package: richo-notification
Architecture: all
Depends: richo-environment, libnotify-bin, notification-daemon
Description: A metapackage to pull in richo's notification system
 This package depends upon a base install for richo's notifications

Package: richo-boxdice
Architecture: all
Depends: richo-environment, apache2, apache2-mpm-prefork, php5-mysql, php5, php5-xdebug, mysql-client-5.1, mysql-server-5.1, xtightvnc
Description: Metapackage with development deps for working at boxdice
 This package will pull everything that working at BoxDice needs

Package: richo-laptop
Architecture: all
Depends: richo-environment, richo-system, wpasupplicant, aircrack-ng
Description: A metapackage to pull in richo's laptop specific packages
 This package depends upon a base install for richo's laptop config

Package: richo-all
Architecture: all
Depends: richo-system, richo-environment, richo-x11, richo-dev, richo-apps, richo-multimedia, richo-apps
Description: Metapackage that depends upon all of richo's env packages
 This package depends on all of the other richo-* packages, to make it simple
 to pull in all of them, and any future sets that are published.

Package: phpremoteadmin
Architecture: all
Depends: phpmyadmin
Description: Config hacks to phpmyadmin
 This hacks at phpmyadmin's config until it can connect via a tunnel to remote machines
